
@{
    ViewBag.Title = "Leaderboards";
}

<h2>Leaderboards</h2>

<!--Alert-->
<section>
    <br>
    <br>
    <div class="col-12">
        <section id="types">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Types</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <button class="btn btn-outline-success mr-1 mb-1" id="confirm-text">Click here!</button>
                        <button class="btn btn-outline-success mr-1 mb-1" id="prompt-function">Click here!</button>
                        <button type="button" class="btn btn-outline-success mr-1 mb-1" id="type-success">Success</button>
                        <button type="button" class="btn btn-outline-info mr-1 mb-1" id="type-info">Info</button>
                        <button type="button" class="btn btn-outline-warning mr-1 mb-1" id="type-warning">Warning</button>
                        <button type="button" class="btn btn-outline-danger mr-1 mb-1" id="type-error">Error</button>
                    </div>
                </div>
            </div>
    </div>

</section>


</section>


@*<div class="col-12">
    <h4 class="card-title">Challenge Alert Example</h4>
    <p class="card-description"></p> <button class="btn btn-outline-success" id="confirm-text">Click here!</button>
    <button class="btn btn-outline-success" id="prompt-function">Click here!</button>
</div>*@
